In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

In [2]:
def init_browser():
    
    executable_path = {"executable_path":"D:/learnpython/chromedriver.exe "}
    return Browser("chrome", **executable_path, headless=False)

In [3]:
#def scrape_info():
browser = init_browser()

# MARS NEWS
url = "https://mars.nasa.gov/news/"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

news_title=soup.find('div',class_='content_title').get_text()
news_p=soup.find('div',class_='article_teaser_body').get_text()

#     # Close the browser after scraping
browser.quit()

#     # Return results
#    return 1
news_p

'NASA and the Department of Energy have completed a more detailed risk analysis for the Mars 2020 rover launch from Florida.'

In [34]:
browser = init_browser()

# MARS FEATURED IMAGE
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

#n=soup.find('article',class_='carousel_item').style

#relative_image_path = soup.find_all('img')[2]["src"]
#sloth_img = url + relative_image_path

#browser.click_link_by_partial_text('FULL IMAGE')
#html1 = browser.html
#soup1 = bs(html1, "html.parser")

#print (soup1)
#print(soup1.find_all('img'))

news_p=soup.find(class_='button fancybox')
relative_image_path=news_p["data-fancybox-href"]
image_path= "https://www.jpl.nasa.gov/" + relative_image_path
print(image_path)
#     # Close the browser after scraping
browser.quit()

https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA17794_ip.jpg

In [42]:
browser = init_browser()

# MARS WEATHER
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

# <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 351 (2019-11-22) low -100.4ºC (-148.7ºF) high -22.6ºC (-8.6ºF)
# winds from the SSE at 5.5 m/s (12.3 mph) gusting to 23.7 m/s (53.1 mph)
# pressure at 6.70 hPa</span>

#<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" 

twitter=soup.find('p',class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").get_text()


#     # Close the browser after scraping
#browser.quit()

#     # Return results
#    return 1
twitter

'InSight sol 351 (2019-11-22) low -100.4ºC (-148.7ºF) high -22.6ºC (-8.6ºF)\nwinds from the SSE at 5.5 m/s (12.3 mph) gusting to 23.7 m/s (53.1 mph)\npressure at 6.70 hPapic.twitter.com/HEvWMSOcYQ'

In [46]:
#MARS FACTS --USING PANDAS
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
df=tables[0]
df.columns=['Description','values']

            Description                         values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [50]:
df.set_index('Description',drop=True,inplace=True)
df

                                             values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [51]:
df.to_html('table.html')
!explorer table.html

In [52]:
# sorry, I did this manually
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]